.table 
{
    /* margin: 3%; Do not do this with tables. Tables always act funny.*/
    padding: 3%;
}


.container {
    margin: 30px auto;
    padding: 30px  30px 30px 30px;
    max-width: 1000px;
    min-width: 300px;
    box-shadow: 5px 5px 20px black;
}

.top-info {
    text-align: center;
    margin-bottom: 30px;
}

.img {
    width: 60%;
    margin: 0 auto;
}

.btn
{
    margin-right: 2%;
}

#removebutton {margin: 0 10px 0 0;}