<div class="container border border-3 rounded-4 border-white">
<img   src="../../../assets/images/FusionFactory-Logo-Whit-Trns.png"
alt="Fusion Factory"
class="logo-login">
<form id="register-form" [formGroup]="registerForm">
    <div class="form-group">
        <label for="inputFirstName">First Name</label>
        <input type="text" class="form-control" formControlName="fname" id="inputFirstName" placeholder="Enter First Name">
      </div>
    <div class="form-group">
        <label for="inputLastName">Last Name</label>
        <input type="text" class="form-control" formControlName="lname" id="inputLastName" placeholder="Enter Last Name">
    </div>
    <div class="form-group">
      <label for="inputUserName">User Name</label>
      <input type="text" class="form-control" formControlName="uname" id="inputUserName" placeholder="Enter User Name">
    </div>
    <div class="form-group">
      <label for="inputLeetCodeName">Leet Code Name</label>
      <input type="text" class="form-control" formControlName="lcname" id="inputLeetCodeName" placeholder="Enter Leet Code Name">
    </div>
    <div class="form-group">
      <label for="inputPassword">Password</label>
      <input type="password" class="form-control" formControlName="password" id="inputPassword" placeholder="Enter Password">
    </div>
    <button class="btn btn-primary" (click)="onSubmit()">Register</button>
</form>
</div>
