nav {
  box-shadow: 3px 3px 10px black;
}

.titleh4 {
  font-size: 200%;
  font-family: "Oswald", sans-serif;
  font-weight:400;
  text-shadow: 3px 3px 5px black;
  max-width: 300px;
}

.logo {
  margin: 0 10px;
  cursor: pointer;
  max-width: 80px;
}

.form-inline {
max-width: 300px;
}

button {
  margin-right: 10px;
  margin-left: 10px;
}

@media screen and (max-width: 600px) {

.form-inline {
margin: 0 auto;
}

.titleh4 {
  margin: 0 auto;
}

}