<div *ngIf="productInfo != null && productInfo.name != 'Hydrogen'">
  <div class="card" [ngStyle]="{'background-color': productInfo.name == 'Xenon' || productInfo.name == 'Lead' ? '#fa1965' : ''}">
    <img [routerLink]="['/product/', productInfo.name]" class="card-img-top" [src]="productInfo.image" alt="Card image cap"/>
    <div class="card-body">
      <h5 class="card-title" *ngIf = "productInfo.name">{{ productInfo.name }}</h5>
      <p class="card-text">{{ productInfo.description }}</p>
    </div>
    <div class="input-group input-group-sm mb-0">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">$</span>
      </div>
      <input
        type="number"
        class="form-control"
        aria-label="Sizing example input"
        [value]="productInfo.price"
        aria-describedby="inputGroup-sizing-sm"
        disabled
      />
    </div>
    <div class="input-group input-group-sm">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm"
          > In Stock</span
        >
      </div>
      <input
        type="number"
        class="form-control"
        aria-label="Sizing example input"
        [value]="productInfo.quantity"
        aria-describedby="inputGroup-sizing-sm"
        disabled
      />
    </div>
    <div class="card-body">
      <input class="form-control-sm formtext" type="number" min="0" [max]="productInfo.quantity" [(ngModel)]="quantitySelect" />
      <button class="btn btn-outline-dark ms-3 custombutton" (click)="addToCart(productInfo)">
        Add to Cart
      </button>
    </div>
  </div>
</div>
