.card {
    margin: 0 auto 10px auto;
    min-width: 204px;
    max-width: 204px;
    width: 200px;
    height: fit-content;
    transition: .2s ease-out;
    box-shadow: 5px 5px 10px rgba(0,0,0,.2);
  }

  img
  {
    margin: 0 auto;
    justify-content: center;
    height: auto;
    width: auto;
    max-height: 200px;
    max-width: 200px;
    cursor: pointer;
  }

  img:hover {
    box-shadow: 0 0 10px 1px rgba(255,255,0,.8);
  }
  
  div {
    position: relative;
    transition: .2s ease-out;
  }
  
  .card:hover{
    box-shadow: 5px 5px 10px rgba(0,0,0,.5);
    transform: translate3d(0,-10px,0);
  }

  .formtext {
    font-size: 1.125rem;
    max-width: 50px;
  }

  .custombutton {
    margin-top: -5px;
    max-width: 100px;
    padding-left: 8px;
  }