<div class="container border border-3 rounded-4 border-white bg-white">
  <img
  src="../../../assets/images/FusionFactory-Logo-Pink-Trns.png"
  alt="Fusion Factory"
  class="logo-login"
/>
<form id="login-form" [formGroup]="loginForm">
  <div class="form-group">
    <label class="primary" for="exampleInputUsername1">Username</label>
    <input
      type="username"
      class="form-control"
      formControlName="username"
      id="exampleInputUsername1"
      aria-describedby="usernameHelp"
      placeholder="Enter username"
    />
    <small id="usernameHelp" class="form-text text-muted"
      >Ensure you enter the correct email</small
    >
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input
      type="password"
      class="form-control"
      formControlName="password"
      id="exampleInputPassword1"
      placeholder="Password"
    />
  </div>
  <button class="btn btn-primary" (click)="onSubmit()">Login</button>
  <button class="btn btn-primary" [routerLink]="['/register']">Register</button>
</form>
</div>