$primary: #cd0cfa;
$light: #dd58fb;
$dark: #65067a;
$secondary: #af46c7;
$success: #25fa39;
$danger: #fa1965;
$warning: #fae925;
$info: #4500fd;
$muted: #eba3fb;

// @darkmode {
// $primary: #65067a;
// $light: #A40AC7;
// $dark: #30033B;
// $secondary: #500561;
// $success: #127A1C;
// $danger: #7A0C31;
// $warning: #7A7212;
// $info: #21007A;
// $muted: #700787;
// }
